body {
    background-color: lightblue;
}
.col-3 {
    border: solid black 2px;
    height: 10vh;
    width: 10vw;
    background-color: rgb(231, 156, 16);
    padding: 4vh;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
}
.title {
    text-align: center;
}